# Include the production dependencies
-r requirements.txt

# Testing and development dependencies
bandit>=1.0,<2.0
flake8==3.8.3
moto==5.0.1
pip-audit==2.7.3
pyfakefs==4.0.2
pyflakes==2.2.0
pylint==2.5.3
pytest-cov==4.1.0
pytest==7.4.4
requests-mock==1.8.0
certifi>=2024.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
